@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes movePoint {
  0% {
    transform: translate(0, 0);
    top: 0%;
    left: 0%;
  }
  20% {
    transform: translate(80%, 20%);
    top: 20%;
    left: 20%;
  }
  40% {
    transform: translate(40%, 80%);
    top: 30%;
    left: 30%;
  }
  60% {
    transform: translate(90%, 90%);
    top: 40%;
    left: 40%;
  }
  80% {
    transform: translate(90%, 90%);
    top: 50%;
    left:50%;
  }
  100% {
    transform: translate(0, 0);
    top: 60%;
    left: 60%;
  }
}
@keyframes movePoint1 {
  0% {
    transform: translate(0, 0);
    top: 0%;
    right: 0%;
  }
  20% {
    transform: translate(80%, 20%);
    top: 20%;
    right: 20%;
  }
  40% {
    transform: translate(40%, 80%);
    top: 30%;
    right: 30%;
  }
  60% {
    transform: translate(90%, 90%);
    top: 40%;
    right: 40%;
  }
  80% {
    transform: translate(90%, 90%);
    top: 50%;
    right:50%;
  }
  100% {
    transform: translate(0, 0);
    top: 60%;
    right: 60%;
  }
}

.point {
  animation: movePoint 4s infinite linear;
}
.point1 {
  animation: movePoint1 4s infinite linear;
}

/* Stylish Background with Gradient */
.stylish-bg {
  background: linear-gradient(45deg, #4caf50, #2196f3, #ffeb3b);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
  /* height: 100vh; */
  position: relative;
}

/* Gradient Animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* Parallax Scrolling Effect */
.parallax-bg {
  background-image: url('https://your-image-url.jpg');
  height: 100vh;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  z-index: -1;
}
